<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<script src="/static/js/vendor/jquery.js"></script>
		<link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
		<script src="/static/js/vendor/bootstrap.min.js" defer></script>
		<script src="/static/js/auth.js" defer></script>
		<script src="/static/js/messages.js" defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid">
			<h3 align="center">Messages</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">Message</th>
						<th scope="col">sent_on</th>
						<th scope="col">from</th>
						<th scope="col">to</th>
					</tr>
				</thead>
				<tbody>
					{% for message in messages %}
						<tr>
							<th scope="row">{{ message.id }}</th>
							<td>{{ message.content }}</td>
							<td>{{ message.sent_on }}</td>
							<td>{{ message.user_from }}</td>
							<td>{{ message.user_to }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
