<!DOCTYPE html>
<html>
	<head>
		<title>Chat Login</title>
		<script src="/static/js/vendor/jquery.js"></script>
		<link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
		<script src="/static/js/vendor/bootstrap.min.js" defer></script>
		<script src="/static/js/auth.js" defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="login-form-wrap">
			<h2>Login</h2>
			<form id="login-form" method="post" class="login-form">
				<input type="text" name="username" placeholder="Username" value="" required>
				<input type="password" name="password" placeholder="Password" value="" required>
				<input type="submit" name="login" id="login" value="Login">
			</form>
			<div id="create-account-wrap">
				<p><a href="/register">Register</a><p>
			</div>
			<div id="server-results" style="margin: 10px 0">
				
			</div>
		</div>
	</body>
</html>
