{% extends 'main.html' %}
{% block content %}
<h3 align="center">Chat Users</h3>
<table class="table">
	<thead>
		<tr>
			<th width="10%">id</th>
			<th width="20%">Full Name</th>
			<th width="25%">Email</th>
			<th width="25%">Username</th>
			<th width="10%">Password</th>
			<th width="10%"></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<th scope="row">{{ user.id }}</th>
			<td>{{ user.fullname }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.password }}</td>
			<td>
				{% if user.id == current_user.id %}
				<button class="btn btn-success">
					You
				</button>
				{% else %}
				<button class="btn btn-success">
					<a href="/conversation/{{ user.id }}">
						Start Chat
					</a>
				</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
